
@{
    ViewBag.Title = "Employee Dashboard";
}

<h2>Employee Dashboard</h2>
<a href="@Url.Action("Index", "Reviews")">@ViewBag.PendingReviews</a>
<br>
<a href="@Url.Action("Index", "Orders")">@ViewBag.PendingOrders</a>
<br>
<button type="button" onclick="location.href='@Url.Action("Index", "Reports")'">Generate Reports</button>