@model IEnumerable<Conestoga_Virtual_Game_Store.Models.game_collection>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.game_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.game_collection_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.game_collection_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.game_collection_id })
        </td>
    </tr>
}

</table>
