@model Conestoga_Virtual_Game_Store.Models.shopping_cart

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>shopping_cart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.platform_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.platform_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.shopping_cart_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
