@model IEnumerable<Conestoga_Virtual_Game_Store.Models.user_payment_info>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add New Payment Option", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.payment_type_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.card_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.province)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postal_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.payment_types.payment_type_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.card_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.province)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postal_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.payment_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.payment_id })
        </td>
    </tr>
}

</table>
