@model Conestoga_Virtual_Game_Store.Models.game

@{
    ViewBag.Title = "Details";
}

<h2 align="center">Game Detail Report</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Game:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_name)
        </dd>
        <dt>
            Category:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.category_name)
        </dd>
        <dt>
            Developer:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.developer.developer_name)
        </dd>
        <dt>
            Description:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            Release Date:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.release_date)
        </dd>

        <dt>
            Price:
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
