
@{
    ViewBag.Title = "Create Reports";
}

<h2 align="center">Create Reports</h2>
<hr />
<p><button type="button" onclick="location.href='@Url.Action("Index", "GamesList")'">Games List</button></p>
<p><button type="button" onclick="location.href='@Url.Action("Index", "GameDetails")'">Game Details</button></p>
<hr />
<p><button type="button" onclick="location.href='@Url.Action("Index", "EventList")'">Event List</button></p>
<p><button type="button" onclick="location.href='@Url.Action("Index", "EventDetails")'">Event Details</button></p>
<hr />
<p><button type="button" onclick="location.href='@Url.Action("Index", "WishlistReport")'">Wishlist</button></p>